header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

header.active {
  backdrop-filter: blur(70px);
  background: rgba(255, 255, 255, 0.7);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px !important;
}

.header-bg {
  backdrop-filter: blur(70px);
  background: rgba(255, 255, 255, 0.7);
}

.header-bg.active {
  background: transparent;
  backdrop-filter: none;
}

.header-right {
  display: flex;
  gap: 50px;
  align-items: center;
}
.header-social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-social-icon {
  width: 25px;
  height: 25px;
}
.telephone {
  text-decoration: none;
}
.burger-button {
  display: flex;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
}
.burger-line {
  width: 35px;
  height: 2px;
  background-color: #424349;
  border-radius: 50px;
  display: flex;
  flex-shrink: 0;
  transition: all ease 0.3s;
}

.burger-button.active .burger-line:nth-child(2) {
  background-color: transparent;
}

.burger-button.active .burger-line:nth-child(1) {
  height: 3px;
  transform: translateY(10px) rotate(45deg);
}

.burger-button.active .burger-line:nth-child(3) {
  height: 3px;
  transform: translateY(-9px) rotate(-45deg);
}

.burger-menu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
}

.burger-menu.active {
  max-height: 1000px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  padding: 0px 0 30px;
}

.burger-menu a {
  opacity: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: transparent;
  transition: opacity 0.2s ease-in-out;
  transform: translateY(-100px);
}

.burger-menu.active a {
  transform: translateY(0);
  opacity: 1;
  color: #424349;
}

.burger-menu a:hover {
  color: #7596bc;
}
.mobile-header-column {
  display: none;
  flex-direction: column;
  align-items: center;
}

.mobile-header-column a {
  margin-top: 10px;
}

.mobile-header-column p {
  padding-bottom: 1px;
  margin-top: 15px;
}

.mobile-header-column .pop-up-icons {
  margin-top: 0;
}

@media only screen and (max-width: 1100px) {
  .header-right {
    gap: 25px;
  }
}

@media only screen and (max-width: 750px) {
  .burger-line {
    width: 25px;
  }
  .burger-button {
    gap: 7px;
  }
  .header-social-icons {
    display: none;
  }
  .header-container img {
    max-width: 180px;
  }
  .mobile-header-column {
    display: flex;
  }
  .burger-button.active .burger-line:nth-child(2) {
    background-color: #424349;
    height: 3px;
    transform: translateY(1px) rotate(45deg);
  }

  .burger-button.active .burger-line:nth-child(1) {
    background-color: transparent;
  }

  .burger-button.active .burger-line:nth-child(3) {
    height: 3px;
    transform: translateY(-9px) rotate(-45deg);
  }
  .nav-links {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .header-container img {
    max-width: 130px;
  }
}
