.kitchen-slider {
  max-width: 850px;
  width: 100%;
  /* padding-bottom: 50px; */
}
.kitchen-slider-main-image {
  width: 100%;
  border-radius: 10px;
  max-height: 500px;
  height: 100%;
}
.kitchen-slider-main-image img {
  border-radius: 10px;
  width: 100%;
  max-height: 500px;
}
.slider-nav {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: pointer;
}
.slider-nav:active {
  cursor: grabbing;
}
.slider-nav-image {
  display: flex;
  flex-shrink: 0;
  border-radius: 13px;
  border: 3px solid transparent;
  max-width: 150px;
}

.slider-nav-image.active {
  border: 3px solid #7596bc;
}

.slider-nav-image img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Контейнер скролбару */
.slider-scrollbar {
  height: 6px;
  background-color: #eee;
  border-radius: 3px;
  margin-top: 8px;
  position: relative;
  overflow: hidden;
}

.slider-scrollbar-thumb {
  height: 100%;
  background-color: #7596bc;
  border-radius: 3px;
  position: absolute;
  top: 0;
}

@media only screen and (max-width: 1100px) {
  .kitchen-slider {
    max-width: 1100px;
    width: 100%;
    /* padding-bottom: 50px; */
  }

  .slider-nav {
    gap: 5px;
    margin-top: 8px;
  }
  .slider-nav {
    scrollbar-width: none;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 780px) {
  .kitchen-slider-main-image .skeleton {
    min-height: 300px;
    max-height: 500px;
  }
  .slider-nav-image {
    max-width: 120px;
  }
  .kitchen-page {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .kitchen-slider-main-image .skeleton {
    min-height: 200px;
    max-height: 300px;
  }
  .slider-nav-image {
    max-width: 90px;
  }
  .kitchen-page {
    padding-top: 80px;
  }
}
